body {
    background-color: #FEECC8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    display: flex;
    font-size: 6vw;
    margin: 4vh;
}

.container {
    display: flex;
    margin-top: 4vh;
    flex-direction: column;
    gap: 0.9vw;
    background-color: rgba(255, 216, 216, 0.9);
    padding: 0.7vw 3vw;
    border-radius: 2vw;
}

.result {
    font-size: 3vw;
}

.score {
    font-size: 4vw;
    font-weight: 600;
}

.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    flex: 1 1 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: #C6E2E9;
    border: 0.5vw solid black;
    border-radius: 0.5vw;
}

.image {
    width: 15vw;
    height: 15vw;
    flex: 1 1 auto;
}