* {
    box-sizing: border-box;
}

html {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

body {
    background-color: #FEECC8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
}

h1 {
    display: flex;
    font-size: 6vw;
    margin: 0vh;
    align-self: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.9vw;
    padding: 0.7vw 3vw;
    border-radius: 2vw;
}

.result {
    font-size: 3vw;
}

.score {
    font-size: 4vw;
    font-weight: 600;
}

.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    flex: 1 1 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C6E2E9;
    border: 0.5vw solid black;
    border-radius: 0.5vw;
}

.image {
    width: 15vw;
    height: 15vw;
    flex: 1 1 auto;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 2vh;
    font-size: 2vh;
}